.page_main{
}
#chekoutCollection{
	border:0px!important;
}
#emptyCart>h4{
    color: #767676;
}
.checkoutImgBox{
    
    width: 100px;
    height: 100px;
}
.checkoutImgBox img{
    width: 100px;
    height: 100px;
}
.checkoutNum{
	display: inline-block;
	border: 1px solid #a0a0a0;
	width: auto;
}
.cartItem > .row {

	border:1px solid #cfcfcf;
}
.checkoutItemNum{
    display: inline-block;
}
@media( min-width: 601px ) and ( max-width: 992px){
    .goodsNameBox{
    	height: 100px;
    }
    .cartGoods{
   
    }
}